import * as utils from '../utils/aoc-utils';
import { Solution } from '../utils/solution';


class Day0_2023 extends Solution {
  DAY = 0;

  partOne(input: string[]): any {
  }

  partTwo(input: string[]): any {
  }

}

utils.runSolution(new Day0_2023(), utils.ProblemParts.One);
utils.runSolution(new Day0_2023(), utils.ProblemParts.Two);
